# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/

# Flask
backend/.env
backend/*.db
backend/instance/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDEs
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*